@import "~bootstrap/dist/css/bootstrap";

/*-------------
*Navbar section
--------------*/

.navi {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.bg-light {
    background-color: #2354aa;
}

/*-------------
*Hero section
--------------*/

.backImg {
    background-image: url('../assets/img/1.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 45rem;
    padding-top: 100px;
    height: 100vh;
}

.heroCont {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%
}

.hero-links {
    text-align: end;
}

.hero-links a {
    color:  #0c2e69;
    margin-right: 20px;
}

.hero-links a:hover {
    color: #2354aa;
}

.hero-links a svg {
    height: 1.5rem;
    width: 1.5rem;
}

/*----------------
*Projects section
-----------------*/

.sectionBack {
    margin-top: 50px;
    padding-bottom: 100px;
    background-color:#0c2e69;
    color: white;
}

.title {
    text-align: center;
    padding-top: 50px;
}

.test {
    border: 1px solid;
    height: 300px;
    position: relative;
}

.portfolioProject, .gifProject {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 15px;
}

.portfolioProject, .gifProject:hover {
    background-color: #0f3a83
    
}

.portfolioProject::before {
    content: "";
      background-image: url('../assets/img/8.JPG');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}

.portfolioProject:hover::before {
    opacity: 0.15;
}

.portfolioProject h4 {
    position: absolute;
    background-color: white;
    color: rgb(85, 85, 85);
    font-weight: 700;
    font-style: italic;
    padding: 0 20px;
    opacity: 0;
}

.portfolioProject:hover h4 {
    opacity: 100;
}

.portfolioProject:hover .cardText {
    opacity: 100;
}

.portfolioProject button {
    position: absolute;
    top: 80%;
    left: 60%;
    opacity: 0;
    
}

.portfolioProject:hover button {
    opacity: 100;
}

.gifProject::before {
    content: "";
      background-image: url('../assets/img/9.png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}

.gifProject:hover::before {
    opacity: 0.15;
}

.gifProject h4 {
    position: absolute;
    background-color: white;
    color: rgb(85, 85, 85);
    font-weight: 700;
    font-style: italic;
    padding: 0 20px;
    opacity: 0;
}

.gifProject:hover h4 {
    opacity: 100;
}

.gifProject:hover .cardText {
    opacity: 100;
}

.gifProject button {
    position: absolute;
    top: 80%;
    left: 60%;
    opacity: 0;
    
}

.gifProject:hover button {
    opacity: 100;
}

.cardText {
    position: absolute;
    top: 20%;
    color: rgb(195, 195, 195);
    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px;
}

.container .row {
    padding-top: 50px;
}

/*-------------
*About section
--------------*/

.aboutSection {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.aboutText {
    text-align: left;
    max-width: 50%;
    padding: 0 20px;
}

.resumeCV {
    text-align: right;
}

.skillsCont {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.skillImg {
    width: 100%;
    height: auto;
}

/*-------------
*Contact section
--------------*/

.inputsContact {
    margin: 50px;
    text-align: center;
}

.inputName {
    width: 40%;
    margin-right: 20px;
    height: 35px;
}

.inputMail {
    width: 40%;
    margin-left: 20px;
    height: 35px;
}

textarea {
    width: 80%;
    margin: 15px;
    height: 50vh;
    border: 0px;
}

.submitButton {
    margin: 30px 100px;
    float: right;
}

.imgContainer {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    justify-content: center;
}

.test {
    width: 300px;
    height: 300px;
    margin: 15px;
}